@model Gymbokning.Models.GymClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GymClass</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a class = "btn btn-sm btn-danger" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <a class="btn btn-sm btn-primary" asp-action="Index">Back to Gymclasses</a>
</div>



<div>
    <h4>Members on the class:</h4>
    <table class="table">
        <thead>
            <tr> <th>  @Html.DisplayNameFor(model => model.AttendingMembers.FirstOrDefault().ApplicationUser.FullName) </th> </tr>
        <thead>
        <tbody>

            @if (Model.AttendingMembers != null)
            {
                @*@foreach (var item in Model.AttendingMembers.Where(m=>m.IsBooked==true) )
            {
                if (item != null)
                {
                    <tr>  <td>  @Html.DisplayFor(modelItem => item.ApplicationUser.FullName) </td>   </tr>

                }
             }*@

                @foreach (var item in Model.AttendingMembers)
                {
                    if (item != null)
                     {
                        <tr>  <td>  @Html.DisplayFor(modelItem => item.ApplicationUser.FullName) </td>   </tr>
                        }
                }


            }

        </tbody>
    </table>
</div>